body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
    
}

.sandbox_controls {
    border: 3px solid rgb(228, 228, 228);
    background-color: rgb(251, 252, 254);
    border-radius: 7px;
    width: 725px;
    height: 620px;
    overflow: auto;
    text-align: left;
    padding: 10px;
}

.sandbox_header {
}
.sandbox_header span {
    display: inline-block;
    margin-top: 2px;
    color: 	rgb(105, 105, 105);
    font-weight: bold;
    font-size: 20px;
    vertical-align: text-top;
}
.sandbox_selectors {
    /*background-color: blue;*/
    vertical-align: top;
}
.sandbox_selectors select {
    background-color: rgb(228, 228, 228);
    padding: 5px;
    width: 250px;
    border-radius: 7px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.no_select {
    font-style: italic;
    font-weight: bold;
    font-color: gray;
}

.sandbox_slider {
    margin-top: 5px;
    margin-bottom: 5px;
    /*background-color: blue;*/
    /*border-top: 2px solid rgb(228, 228, 228);*/
}
.sandbox_slider_left_top{
    position: absolute;
    top: 0px;
    left: 5px;
    display: inline-block;
    color: 	rgb(105, 105, 105);
    font-size: 20px;
    font-weight: bold;
}
.sandbox_slider_left_bottom{
    position: absolute;
    bottom: 0px;
    left: 5px;
    display: inline-block;
    color: 	rgb(105, 105, 105);
    font-size: 20px;
    font-weight: bold;
    z-index:1;
}
.sandbox_slider_center {
    position: relative;
    padding-top: 0px;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 7px;
    height: 75px;
}
.sandbox_slider_right_top{
    position: absolute;
    top: 0px;
    right: 5px;
    display: inline-block;
    color: 	rgb(105, 105, 105);
    font-size: 20px;
    font-weight: bold;
}
.sandbox_slider_right_bottom{
    position: absolute;
    bottom: 0px;
    right: 5px;
    display: inline-block;
    color: 	rgb(105, 105, 105);
    font-size: 20px;
    font-weight: bold;
    z-index:1;
}
.plot_region {
    border: 1px solid rgb(105, 105, 105);
    border-radius: 7px;
    height: 450px;
    padding: 3px;
    text-align: center;
}
/*.plot_region div {
    width: 100%;
    height: 100%;
}*/
