@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600,700);
$roboto:  Roboto, Helvetica, 'Helvetica Neue', Arial, sans-serif;
$fontColor: #5C5C5C;

html, body {
  font-family: $roboto;
}

.sandbox-holderofall, .root {
  font-family: $roboto;
  height: calc(100vh - 10px);
}

.sandboxHeader {
  font-family: $roboto;
  height: 50px;
  max-height: 50px;
  color: $fontColor;
}