@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600,700);
$roboto:  Roboto, Helvetica, 'Helvetica Neue', Arial, sans-serif;
$fontColor: #5C5C5C;

html, body {
  font-family: $roboto;
}

.sandbox-holderofall, .root {
  font-family: $roboto;
  height: calc(100vh - 10px);
}

.sandbox-header {
  font-family: $roboto;
  height: 50px;
  max-height: 50px;
  color: $fontColor;
}

.sandbox-header-icon {
  display: inline-flex !important;
  margin-top: -3px;
}

.sandbox-varriable-selectors {
  height: 75px;
  max-height: 75px;
}

.sandbox-check-box {
  height: 75px;
  max-height: 75px;
}

.sandbox-exports {
  height: 70px;
  max-height: 70px;
}

.sandbox-hover {
  padding: 6px !important;
}